@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../images/clouds.jpg'); 
    background-size: cover; 
    background-repeat: repeat;
    animation: animatedBackground 120s linear infinite; 
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    font-family: 'Jost', sans-serif;
    overflow: hidden;
}

.img-container {
    order: 2; 
    text-align: center;
    margin: 8px;
}

.container iframe {
    width: 100%;
    height: 100%;
}

.container-expense {
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(50, -50%);
    max-width: calc(500px - 40px);
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    font-family: 'Jost', sans-serif;
}

.pie-chart-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 80%;
    width: 325px;
    height: 325px;
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    font-family: 'Jost', sans-serif;
}

.container-calc {
    position: absolute;
    top: 25%;
    right: 15%;
    transform: translate(50, -50%);
    max-width: calc(400px - 40px);
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    font-family: 'Jost', sans-serif;
}

#results {
    order: 3; 
}

.container-blogs {
    padding: 20px;
    margin-top: 70px; 
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(128, 128, 128, 0.34);
    font-family: 'Jost', sans-serif;
}

.subcontainer {
    margin: 30px auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Jost', sans-serif;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3 {
    color: #1e5c86;
    text-align: center;
    margin: 2px;
}

form {
    margin-bottom: 20px; 
}

.input-field {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#expenses-list li, #income-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #000000;
}

input[type="number"], input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-centered, button, button-r {
    padding: 10px 20px;
    background-color: #1e5c86;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: auto; 
}

button:hover, button-r:hover {
    background-color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 2px;
    width: 100%;
    padding: 15px;
    z-index: 999;
}

.navbar a {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: #ffffff;
    font-size: large;
}

.nav-btn {
    margin-right: 20px;
}

.navbar a.active {
    background-color: #000000;
    color: white;
}

.logo-container {
    margin-left: 8px; 
}

.logo {
    width: 50px; 
    height: auto; 
    vertical-align: middle; 
}


hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

@media only screen and (max-width: 1450px) {
    .container,
    .container-expense,
    .container-calc,
    .pie-chart-container,
    .navbar {
        position: static;
        align-items: center;
        max-width: calc(100% - 40px);
        margin: 20px;
        left: auto;
        top: auto;
        transform: none;
        
    }

    .container-calc {
        top: 25%;
    }
}
