body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-image: url('../images/sunset.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.container {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: calc(600px - 40px);
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(128, 128, 128, 0.34);
    font-family: 'Jost', sans-serif;
}

.container-expense {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    max-width: calc(500px - 40px);
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(128, 128, 128, 0.34);
    font-family: 'Jost', sans-serif;
}

.expense-details {
    display: flex;
}

.pie-chart-container {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    width: 500px;
    height: 325px;
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(128, 128, 128, 0.34);
    font-family: 'Jost', sans-serif;
}

.container-calc {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    max-width: calc(400px - 40px);
    padding: 20px;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(128, 128, 128, 0.34);
    font-family: 'Jost', sans-serif;
}

.img-container {
    order: 2; 
    text-align: center;
    margin-top: 20px; 
}

.pie-chart-container {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust the distance from the right side */
    transform: translateY(-50%);
}

#results {
    order: 3; 
}

h1, h2, h3 {
    color: #df1717;
    text-align: center;
}

form {
    margin-bottom: 20px; 
}

.input-field {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#expenses-list li, #income-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #000000;
}

input[type="number"], input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-centered, button, button-r {
    padding: 10px 20px;
    background-color: #df1717;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: auto; /* Center horizontally */
}

button:hover, button-r:hover {
    background-color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 15px;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #D2042D;
}

.navbar a:hover {
    color: #695d5d;
    font-size: large;
}

.nav-btn {
    margin-right: 20px;
}

.navbar a.active {
    background-color: #df1717;
    color: white;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
