body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background: linear-gradient(to top, #695d5d, #000000);
    background-size: 100% 400%;
    animation: gradientScroll 1ms linear infinite;
    height: 100%;
    font-family: 'Jost', sans-serif;
}

.dashboard-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #3f3636, #000000);
    background-size: 100% 100%;
    animation: gradientScroll 1ms linear infinite;
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 70px;
    padding: 50px;
    background-color: #404040;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-family: 'Jost', sans-serif;
}

.img-container {
    text-align: center;
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p {
    color: #df1717;
    text-align: center;
}

form {
    margin-bottom: 20px;
    
}

.input-field {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


#expenses-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #df1717;
}

input[type="number"], input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-centered {
    padding: 10px 20px;
    
    background-color: #df1717;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: auto; /* Center horizontally */
}


button {
    padding: 10px 20px;
    background-color: #df1717;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 15px;
  }
  
  .nav-btn {
    margin-right: 20px;
    text-decoration: none;
    color: #D2042D;
  }

  .nav-btn:hover {
    color: #695d5d;
    font-size: large;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.pybutton {
    padding: 10px 20px;
    background-color: #df1717;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.pybutton:hover {
    background-color: #000000;
}